@import './style.scss';

.app {
	width: 100vw;
	height: 100vh;
	display: flex;
}

@include responsive($width-small) {
	.app {
		flex-direction: column;
	}
}
@include responsive($width-medium) {
	.app {
		flex-direction: column;
	}
}
